.button {
    -fx-font-weight: bold;
}

.jbuttonmenu {
	-fx-font-size: 18px;
	-jfx-button-type: RAISED;
}

.jbuttonmenu .jfx-rippler{
     -jfx-rippler-fill: #F1B434; 
}

.jbuttonmenu:hover {
    -fx-cursor: hand;
    -fx-background-color: #eeeeee;
}

.jbutton {
	-jfx-button-type: RAISED;
    -fx-background-color: #eeeeee;
    -fx-font-size: 14px;
}

.jbutton .jfx-rippler{
     -jfx-rippler-fill: #545454;
}

.jbutton:hover {
	-fx-cursor: hand;
}

.jradiobutton {
	-fx-font-size: 14px;
	-jfx-selected-color:  #F1B434;
}

#tableRentals .table-column {
  -fx-alignment: CENTER;
  -fx-font-size: 13px;
}

#tableStations .table-column {
  -fx-alignment: CENTER;
  -fx-font-size: 13px;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
